@theme {
  --spacing: 1px;

  --spacing-content-xs: 12px;
  --spacing-content-sm: 16px;
  --spacing-content-md: 20px;
  --spacing-content-lg: 24px;
  --spacing-content-xl: 32px;

  --spacing-box-xs: 16px;
  --spacing-box-sm: 24px;
  --spacing-box-md: 36px;
  --spacing-box-lg: 48px;
  --spacing-box-xl: 64px;

  --text-*: initial;
  --text-xs: 9px;
  --text-xs--line-height: 12px;
  --text-sm: 12px;
  --text-sm--line-height: 16px;
  --text-md: 15px;
  --text-md--line-height: 20px;
  --text-lg: 18px;
  --text-lg-line--height: 24px;
  --text-xl: 24px;
  --text-xl--line-height: 32px;

  --breakpoint-*: initial;
  --breakpoint-xs: 288px; /* 288px */
  --breakpoint-sm: 576px; /* 576px */
  --breakpoint-md: 864px; /* 864px */
  --breakpoint-lg: 1152px; /* 1152px */
  --breakpoint-xl: 1440px; /* 1440px */

  --container-*: initial;
  --container-xs: 288px; /* 288px */
  --container-xs-sm: 432px; /* 432px */
  --container-sm: 576px; /* 576px */
  --container-sm-md: 720px; /* 720px */
  --container-md: 864px; /* 864px */
  --container-md-lg: 1008px; /* 1008px */
  --container-lg: 1152px; /* 1152px */
  --container-lg-xl: 1296px; /* 1296px */
  --container-xl: 1440px; /* 1440px */
}

@layer components {
  /* Makes lucide icons conform to text-based class names. */
  .lucide {
    width: 1lh;
    padding-left: calc((1lh - 1em) / 2);
    padding-right: calc((1lh - 1em) / 2);
    height: 1lh;
  }
}
