@theme {
  --spacing: 0.0625rem; /* 1px */

  --spacing-content-xs: 0.75rem; /* 12px */
  --spacing-content-sm: 1rem; /* 16px */
  --spacing-content-md: 1.25rem; /* 20px */
  --spacing-content-lg: 1.5rem; /* 24px */
  --spacing-content-xl: 2rem; /* 32px */

  --spacing-box-xs: 1rem; /* 16px */
  --spacing-box-sm: 1.5rem; /* 24px */
  --spacing-box-md: 2.25rem; /* 36px */
  --spacing-box-lg: 3rem; /* 48px */
  --spacing-box-xl: 4rem; /* 64px */

  --text-*: initial;
  --text-xs: 0.5625rem; /* 9px */
  --text-xs--line-height: 0.75rem; /* 12px */
  --text-sm: 0.75rem; /* 12px */
  --text-sm--line-height: 1rem; /* 16px */
  --text-md: 0.9375rem; /* 15px */
  --text-md--line-height: 1.25rem; /* 20px */
  --text-lg: 1.125rem; /* 18px */
  --text-lg-line--height: 1.5rem; /* 24px */
  --text-xl: 1.5rem; /* 24px */
  --text-xl--line-height: 2rem; /* 32px */

  --breakpoint-*: initial;
  --breakpoint-xs: 288px; /* 288px */
  --breakpoint-sm: 576px; /* 576px */
  --breakpoint-md: 864px; /* 864px */
  --breakpoint-lg: 1152px; /* 1152px */
  --breakpoint-xl: 1440px; /* 1440px */

  --container-*: initial;
  --container-xs: 288px; /* 288px */
  --container-xs-sm: 432px; /* 432px */
  --container-sm: 576px; /* 576px */
  --container-sm-md: 720px; /* 720px */
  --container-md: 864px; /* 864px */
  --container-md-lg: 1008px; /* 1008px */
  --container-lg: 1152px; /* 1152px */
  --container-lg-xl: 1296px; /* 1296px */
  --container-xl: 1440px; /* 1440px */
}

@layer components {
  /* Makes lucide icons conform to text-based class names. */
  .lucide {
    width: 1lh;
    height: 1lh;
    padding-inline: calc((1lh - 1em) / 2);
    flex-shrink: 0;
  }
}
