@theme {
  --text-xs: 9px;
  --text-xs--line-height: 12px;
  --text-sm: 12px;
  --text-sm--line-height: 16px;
  --text-base: 15px;
  --text-base--line-height: 20px;
  --text-lg: 18px;
  --text-lg-line--height: 24px;
  --text-xl: 24px;
  --text-xl--line-height: 32px;

  --breakpoint-*: initial;
  --breakpoint-xs: 18rem; /* 288px */
  --breakpoint-sm: 36rem; /* 576px */
  --breakpoint-md: 54rem; /* 864px */
  --breakpoint-lg: 72rem; /* 1152px */
  --breakpoint-xl: 90rem; /* 1440px */

  --container-*: initial;
  --container-xs: 18rem; /* 288px */
  --container-xs-sm: 27rem; /* 432px */
  --container-sm: 36rem; /* 576px */
  --container-sm-md: 45rem; /* 720px */
  --container-md: 54rem; /* 864px */
  --container-md-lg: 63rem; /* 1008px */
  --container-lg: 72rem; /* 1152px */
  --container-lg-xl: 81rem; /* 1296px */
  --container-xl: 90rem; /* 1440px */
}